.container-modal{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, .5);
    display: flex;
    align-items: flex-end;
    justify-content: center
}

.first-content, .second-content{
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px 40px 30px;
    transition: width .6s;
}

.content--header{
    left: 0%;
    width: 50%;
    height: 50px;
    display: flex;
    padding-top: 10px;
    align-items: flex-start;
    justify-content: center;
    margin-right: 50%;
    background-color: blue;
}

.content--decoration{
    width: 100px;
    height: 4px;
    background-color: #CACACA;
    border-radius: 20px;
}

.content--name{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content--name p{
    font-weight:bold;
    color: #565656;
}


.content--text {
    margin-bottom: 20px;
}

.content--text p {
    color: #565656;
   
}

.content--micro{
    width: 100%;
    text-align: center;
}

.content--micro p{
    font-size: 20px;
    color: var(--header-color);
    font-weight: bolder;
}

.fa-microphone{
    color: var(--header-color);
    font-size: 35px;
    margin-top: 20px;
    cursor: pointer;
    transition: color .6s, transform .8s;
    margin-bottom: 20px;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact:last-child{
    background-color: blue;
}