@media (min-width: 769px) {
    .fa-bars, .fa-xmark {
        display: none;
    }

    .list {
        display: flex;
    }

    .div-dropdown {
        display: none;
    }

    .dropdown{
        display: block;
    }

    .first-content{
        width: 35%;
        transition: width .6s;   
    }

    .container-modal{
        align-items: center;
        justify-content: center;

    }


}