@media (min-width: 769px) {
    .fa-bars, .fa-xmark {
        display: none;
    }

    .list {
        display: flex;
    }

    .div-dropdown {
        display: none;
    }

    .dropdown{
        display: block;
    }

    .first-content, .second-content, .third-content, .fourth-content, .fifth-content{
        width: 25%;
        transition: width .6s;   
    }

    .container-modal{
        align-items: center;
        justify-content: center;

    }

    .account{
        font-size: 16px;

    }



}